body {
    background-color: #e5eaf5;
}

h1 {
    
    text-align: center;
}

article {
    text-align: center;
}

header h1 {
    font-size: 70px;
    font-weight: 600;
    background-image: linear-gradient(to bottom, #553c9a, #b393d3);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }

  button{
    background:#b40ddd;
    color:#fff;
    border:none;
    position:relative;
    height: 50px;
    font-size:1.6em;
    padding:0;
    cursor:pointer;
    
    outline:none;
    border-radius: 10%;
    width: 50px;
  }
  button:hover{
    background:#fff;
    color: black;
    cursor: pointer;
  }

  .message {
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
 